.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    color: #34d399; 
    width: 100%; 
    position: relative; 
    margin-top: auto;
}

.footer-container p {
    padding: 0 20px;
}